.modal-autos{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display:flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    z-index: 3;
    background-color: black;
    opacity: 0.9;

}

.modal-body-autos {
    padding: 2rem;
    width: 800px;
    border-radius: 13px;
    background: #58A9A5;
    height: 550px;
    z-index: 3;
}

.modal-body-autos h1 {
    font-family: 'Montserrat';
    font-style: normal;
    font-size: 28px;
    text-align: center;
    margin-bottom: 15px;
    margin-top:0;
}

.cards_block{
    
}

.close_modal{
    cursor: pointer;
    font-size: 25px;
    display: flex;
    justify-content: flex-end;
}