.modal{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display:flex;
    justify-content: center;

    flex-direction: column;
    align-items: center;
}
.modal-body{
    padding: 2rem;
    width: 640px;
    border-radius: 13px;
    background: rgba(255, 255, 255, 0.38);
    height: 290px;
}


.modal-body h1 {
    font-family: 'Montserrat';
    font-style: normal;
    font-size: 28px;
    text-align: center;
    margin-bottom: 25px;
    margin-top:0;
}

.login_form {
    display: flex;
    flex-direction: column;
    align-items: center; 
}
.inputs{
    background: #FFFFFF;
    border-radius: 4px;
    outline: none;
    border: none;
    padding: 10px 30px;
    margin-bottom: 20px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    color: rgba(0, 0, 0, 0.68);
    text-align: center;
    width: 244px;
}

.name__input{
    margin-right: 10px;
}



.submit_btn{
    border-radius: 4px;
    outline: none;
    border: none;
    margin-bottom: 20px;
    padding: 10px 51px;
    background: #ffffff;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    color: #000000;
    text-align: center;
    cursor: pointer;
}

._regist{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.regist_form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 0.5em;
}

.eth__address label{
    color:#6a6f8c;
    margin-left: -18px;
}

.address__input{
    margin-bottom: 5px;
}

.address__input__disabled{
    color:#AAA;
    background:#d0cbcb;
}





.eth__address label .icon{
	width:15px;
	height:15px;
    margin-right: 5px;
	border-radius:2px;
	position:relative;
	display:inline-block;
	background:rgba(255,255,255,.1);
}
.eth__address label .icon:before,
.eth__address label .icon:after{
	content:'';
	width:10px;
	height:2px;
	background:#fff;
	position:absolute;
	transition:all .2s ease-in-out 0s;
}
.eth__address label .icon:before{
	left:3px;
	width:5px;
	bottom:6px;
	transform:scale(0) rotate(0);
}
.eth__address label .icon:after{
	top:6px;
	right:0;
	transform:scale(0) rotate(0);
}
.eth__address .check:checked + label{
	color:#fff;
    margin-left: -18px;
}
.eth__address .check:checked + label .icon{
	background:#1161ee;
}
.eth__address .check:checked + label .icon:before{
	transform:scale(1) rotate(45deg);
}
.eth__address .check:checked + label .icon:after{
	transform:scale(1) rotate(-45deg);
}
